<html>
<head>
<style>
.header {
	position: relative;
	left: 40%;
}


</style>



</head>
<h1 class="header">Test page</h1>









<script type="text/javascript" src="skrollr.min.js"></script>
<script type="text/javascript">
var s = skrollr.init();
</script>
</html>