<html>
<head>
<style>

body {
	background-color: #66ccff;

}

</style>

</head>
<body>
<center>

<h1>Willkommen auf meinem etwas</h1>
<b>
<p> Hier kommen noch die styles hin</p>
<b>
<p>Und ja.....</p>
<p>Auch Css</p>




</center>
</body>
</html>