<head>
<title>All Styles</title>
<style>
.thumbnail {
	height: 400px;

}

</style>
</head>
<body>

<%= @styles.each do |style| %>
   	<%= style.title %>
   	<%= @pictures.each do |pic| %>
    	<%= image_tag pic.url(:medium)%>
    <% end %>
<% end %>

<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
    var s = skrollr.init();
</script>
</body>